@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    background: #000;
    height: 54px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.navbar-ul {
    padding: 10px;
}

.navbar-li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.navbar-contacto {
    border: solid 2px #dfdfdf;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 13px;
}

.arrow-section {
    display: flex;
    justify-content: flex-end;
    transition: transform 0.3s ease;
    margin-right: 2rem;

}

.arrow {
    width: 50px;
    height: 50px;
    z-index: 1;
    background-color: rgba(105, 105, 105, 0.411);
    position: absolute;
    bottom: 2rem;
    border-radius: 2px;
    transition: background-color 0.2s ease;
}

.arrow:hover {
    background-color: #b1b1b1;
}

.arrow img {
    display: flex;
    margin: auto;
    width: 50px;
    color: black;
}

.arrow:active {
    transform: scale(1.2);
}

#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main {
    background: linear-gradient(rgb(0, 94, 218), #000)
}

.text {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 10rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.comencemos {
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
    margin-left: 15rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

#contacto {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: small;
    color: #848484;
    font-weight: 400;
}

.form {
    background-color: #fff;
    padding: 2rem;
    width: 40rem;
    margin-top: 2rem;
    border-radius: 15px;
}

.user {
    display: flex;
    justify-content: center;
}

.user div {
    padding: 40px;
}

.user input {
    width: 15rem;
}

.datos {
    display: flex;
    justify-content: center;
    width: 100%;
}

.datos input {
    width: 15rem;
}

.datos div {
    padding: 40px;
    margin-bottom: 4rem;
}

.mesage div {
    padding-left: 40px;
    padding-right: 40px;
}

.mesage input {
    width: 100%;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    padding-top: 1rem;
}

input:focus {
    outline: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield;
    /* Otros navegadores */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}

.form-button {
    background-color: black;
    color: white;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    border: none;
    font-size: medium;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #222;
}

.descarga {
    margin-top: 2rem;
    width: 30rem;
    border: solid 1px white;
    border-radius: 20px;
    position: relative;
}

.descarga-img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.5rem;
}

.descarga-a {
    color: #000;
}

.descarga-p {
    color: #fff;
    font-weight: 700;
    font-size: 27px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.descarga-button {
    position: absolute;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    width: 180px;
    height: 70px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.descarga-button:hover {
    background-color: #dfdfdf;
}

.hr-footer {
    margin-top: 8rem;
    width: 40rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background: #000;
}

.text-footer {
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 0.5rem;
    font-size: 2rem;
    padding-top: 5rem;
    margin: auto;
}

.regular-weight {
    font-weight: 500;
}

.bold-weight {
    font-weight: 700;
}

.viewport {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2rem;
}

.animacion-footer {
    display: inline-block;
    animation: slideLeft 20s linear infinite;
    position: relative;
    width: 100%;
    height: auto;
}

.marca-img {
    margin-left: 4rem;
    opacity: 0.5;
    margin-bottom: 1rem;
}

.animacion-footer img {
    display: inline-block;
    height: auto;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-190%);
    }
}

.redes {
    display: flex;
    justify-content: space-around;
}

.faunabranding {
    width: 30rem;
}

.dire-p {
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.info-p {
    padding-bottom: 1rem;
}

.pais-p {
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.direccion {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: auto;
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
}

.social {
    padding: 12rem;
}

.redes-p {
    font-weight: 700;
    margin-top: 1rem;
}

.redes-a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 1280px) {
    .comencemos {
        margin-left: 3rem;
    }

    #contacto {
        gap: 1rem;
    }

    .form {
        width: 40rem;
    }

    .direccion {
        padding: 5rem;
    }

}

@media only screen and (max-width: 768px) {
    .navbar-li {
        flex-direction: column;
        align-items: center;
    }

    .navbar-img {
        margin-bottom: 10px;
    }

    .navbar-a {
        display: none;
    }

    .navbar-contacto {
        font-size: 12px;
    }

    .arrow-section {
        justify-content: center;
        margin-right: 0;
    }

    .arrow {
        width: 40px;
        height: 40px;
    }

    .arrow img {
        width: 30px;
    }

    #main {
        padding: 2rem;
    }

    .text,
    .comencemos {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .comencemos {
        font-size: 2rem;
    }

    .text {
        font-size: 1.5rem;
        margin-top: -5rem;
    }

    #contacto {
        display: flex;
        flex-direction: column;
    }

    .form {
        width: 80%;
    }

    .user,
    .datos,
    .mesage {
        flex-direction: column;
        align-items: center;
    }

    .user div,
    .datos div,
    .mesage div {
        padding: 10px;
    }

    .descarga {
        margin-top: 4rem;
        margin-bottom: 3rem;
        width: 100%;
        border-radius: 20px;
        position: relative;
        height: 20rem;
        border: solid 1px #fff;
    }

    .descarga-img {
        transform: translate(-50%, -150%);
    }

    .descarga-p {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 60%);
    }

    .descarga-button {
        width: 50%;
    }

    .hr-footer {
        display: none;
    }

    .footer {
        padding-bottom: 2rem;
    }

    .text-footer {
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        padding-top: 2rem;
    }

    .animacion-footer {
        animation-duration: 30s;
    }

    @keyframes slideLeft {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-900%);
        }
    }

    .marca-img {
        margin-left: 2rem;
    }

    .redes {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .faunabranding {
        width: 100%;
        max-width: 250px;
        border-top: solid 1px #fff;
    }

    .direccion {
        padding: 0rem;
        margin: auto;
        border: 0px;
    }
}